html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
strong,
b {
  font-weight: 700;
}
body {
  margin: 0;
  font-size: 1rem;
  font-family: Roboto, Arial, Noto Sans TC, Noto Sans JP, sans-serif;
  font-weight: 400;
  line-height: 1.43;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #fafafa;
}

/* ------------------------------------------------------------------------------------------------ */

html {
  font-size: 12px;
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}

/* ------------------------------------------------------------------------------------------------ */

body.menu-open {
  overflow: hidden;
}
body.overflowHidden {
  overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------ */

html {
  --theme-ui-colors-text: #333333;
  --theme-ui-colors-background: #fff;
  --theme-ui-colors-primary: #333;
  --theme-ui-colors-secondary: #666;
  --theme-ui-colors-tertiary: #999;
  --theme-ui-colors-quaternary: #c7d7ef;
  --theme-ui-colors-error: #e65442;
  --theme-ui-colors-gray-0: #ffffff;
  --theme-ui-colors-gray-1: #f7fafc;
  --theme-ui-colors-gray-2: #edf2f7;
  --theme-ui-colors-gray-3: #e2e8f0;
  --theme-ui-colors-gray-4: #cbd5e0;
  --theme-ui-colors-gray-5: #a0aec0;
  --theme-ui-colors-gray-6: #718096;
  --theme-ui-colors-gray-7: #4a5568;
  --theme-ui-colors-gray-8: #2d3748;
  --theme-ui-colors-gray-9: #1a202c;
  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-background);
}
html[data-theme="dark"] {
  --theme-ui-colors-text: #e2e2e2;
  --theme-ui-colors-background: #121212;
  background-color: var(--theme-ui-colors-background);
}
