.main {
  padding: 0 15px;
  margin: 0 -15px;
  background-color: #fff;
  border-radius: unset;
}
@media (min-width: 992px) {
  .main {
    padding: 25px;
    border-radius: 25px;
  }
}
@media (min-width: 1200px) {
  .main {
    padding: 50px;
  }
}

.main > h1 {
  margin: 0 0 15px 0;
}

.main > .content {
  margin: 0;
}
.main > .content img {
  max-width: 100%;
}
