.breadcrumb {
  display: block;
}
.breadcrumb > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumb > ul > li {
  display: inline-block;
  margin: 0 25px 0 0;
  position: relative;
}
.breadcrumb > ul > li::after {
  position: absolute;
  top: 0;
  right: -18px;
  content: ">";
  color: #333333;
}
.breadcrumb > ul > li:last-child::after {
  display: none;
}
.breadcrumb > ul > li > a {
  color: #333333;
}
.breadcrumb > ul > li > a:hover {
  color: rgb(74, 97, 160);
}
