.footer {
  background-color: #f5f5f5;
}
.main {
  display: block;
}

.copyright {
  display: block;
  text-align: center;
  padding: 20px 0 30px 0;
  color: #666666;
  font-size: 0.85em;
  letter-spacing: 0.015em;
}
